/*------------------- General ------------------*/
@import url('style.css');

body {
	position: relative;
}
.logo {
	height: 50px;
	margin-left: 100px;
}

/*------------------- Photographer page header ------------*/
.photograph-header .headerCardDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #fafafa;
	height: 300px;
	margin: 0 100px;
	padding: 0 50px;
	border-radius: 5px;
}
.photograph-header img {
	max-width: 250px;
	max-height: 250px;
	min-height: 250px;
	min-width: 250px;
	border-radius: 50%;
	object-fit: cover;
	background-color: #dedede;
	filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
}
.contact-userInfo {
	display: flex;
	flex-direction: column;
}
.contact-userInfo h2 {
	font-size: 64px;
	color: #d3573c;
	margin: 0;
}
.contact-userInfo .location {
	display: flex;
	flex-direction: row;
	font-size: 24px;
}
.contact-userInfo .location h3 {
	color: #d3573c;
	margin: 0;
}
.contact-userInfo .location .country {
	padding-left: 5px;
}
.contact-userInfo p {
	font-size: 18px;
	font-weight: 400;
	color: #525252;
}
.contact_button {
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 11px;
	width: 170px;
	height: 70px;
	border: none;
	background-color: #901c1c;
	border-radius: 5px;
	cursor: pointer;
}
.contact_button:hover {
	background-color: #d3573c;
}
.contact_button.header_button {
	margin-right: 50px;
}

/*----------------------- Tri select option ---------------------*/

.trierDiv {
	display: flex;
	justify-content: flex-start;
	padding-left: 100px;
	padding-top: 50px;
}
.trierDiv p {
	font-weight: 700;
	padding-right: 10px;
	font-size: 18px;
}

.oneFilterOnly {
	display: flex;
	align-items: center;

	width: 170px;
	height: 60px;
	padding: 10px 30px;
	background-color: #901c1c;
	color: #fafafa;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
}
.mainDivParent {
	position: relative;
}

.fas.fa-angle-up {
	position: absolute;
	cursor: pointer;
	right: 24px;
	top: 20px;
	font-size: 24px;
}
.fas.fa-angle-down {
	position: absolute;
	cursor: pointer;
	left: 127px;
	top: 20px;
	font-size: 24px;
	color: white;
}
.fas.fa-angle-up:hover,
.fas.fa-angle-down:hover {
	font-size: 30px;
}
.trierOption {
	display: none;
	align-items: center;
	flex-direction: column;
	position: absolute;
	z-index: 1;
	left: 180px;
	width: 170px;
	background-color: #901c1c;
	color: #fafafa;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 700;
}
.trierOption > div:hover {
	background-color: #db8876;
}
.trierOption > div p {
	margin: 0;
}
.trierOption .popularite {
	border-radius: 5px 5px 0 0;
}
.trierOption .titre {
	border-radius: 0 0 5px 5px;
}
.popularite,
.date,
.titre {
	padding: 20px 30px;
	cursor: pointer;
}
.date {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
/*-------------------- MediaCards ----------------------*/

.photograph-porfolio {
	margin: 50px 100px 150px 100px;
}
.photos {
	display: flex;

	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	row-gap: 30px;
}
.photoCard {
	width: 100%;
	max-width: 350px;
}
.photoCardLink {
	position: relative;
}
.photoCardLink .fas.fa-play {
	position: absolute;
	top: 45%;
	left: 45%;
	font-size: 50px;
	color: white;
}
.divImgVideo {
	display: flex;
	flex-direction: column;
}
.divImgVideo img,
.divImgVideo video {
	width: 350px;
	height: 300px;
	border-radius: 5px;
	object-fit: cover;
	object-position: center;
}
.photoCard:hover {
	scale: 1.1;
	transition: 0.5s ease-in-out;
}
.bottomCard {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2px;
	color: #901c1c;
}
.bottomCard h2 {
	font-size: 24px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.bottomCard .likeSpan {
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
}
.fas.fa-heart.heartInCard {
	display: block;
}
.fas.fa-heart.heartInCard.active {
	display: none;
}
.fas.fa-heart.emptyHeart {
	display: none;
}
.fas.fa-heart.emptyHeart.active {
	display: block;
	font-weight: 400;
}

/* ----------------------Lightbox--------------------------------*/
#lightbox {
	display: none;
}
#lightbox.active {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(252, 252, 252, 0.9);
	overflow: auto;
	animation: lightboxAnimation 0.5s;
}
.fa-close,
.fa-chevron-left,
.fa-chevron-right {
	font-size: 48px;
	color: #911c1c;
	position: fixed;
	cursor: pointer;
	opacity: 0.7;
}
.fa-chevron-left,
.fa-chevron-right {
	top: 50%;
	z-index: 10;
}

.fa-close {
	top: 2%;
}
.fa-chevron-left {
	left: 2%;
}
.fa-chevron-right,
.fa-close {
	right: 2%;
}
.fa-close:hover,
.fa-chevron-left:hover,
.fa-chevron-right:hover {
	opacity: 1;
	transition: 0.3s;
}
.lightbox_medias {
	display: none;
}
.lightbox_medias.active {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-height: 100vh;
}
.lightbox_medias img,
.lightbox_medias video {
	min-width: 1200px;
	min-height: 700px;
	object-fit: cover;
	object-position: center;
	max-width: 1200px;
	max-height: 700px;
	animation: lightboxAnimation 0.5s;
	box-shadow: 3px 0px 3px 0px rgb(0 0 0 / 60%);
	border-radius: 5px;
}
.lightbox_medias p {
	color: #901c1c;
	font-weight: 700;
	font-size: 24px;
}

/*-------------------- Contact Form -------------------*/
#contact_modal {
	display: none;
}
.modal {
	border-radius: 5px;
	background-color: #db8876;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 35px;
	margin: auto;
	position: fixed;
	top: 10px;
	left: 30%;
	width: 669px;
	overflow-y: hidden;
}
.modal header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 80px;
	align-items: baseline;
}
.modal header > div {
	display: flex;
	flex-direction: column;
}
.modal header img {
	cursor: pointer;
}
.modal header h1 {
	font-size: 64px;
	font-weight: 400;
	margin: 0;
	color: black;
	text-align: left;
}

.photographer-name {
	font-size: 64px;
	font-weight: 400;
	margin: 0;
	text-align: center;
}
form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
}
form label {
	color: #312e2e;
	font-size: 36px;
}
form div {
	width: 100%;
}
form input {
	width: 100%;
	height: 68px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
}
form textarea {
	width: 100%;
	height: 126px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
}
.validateFormMessage {
	display: none;
	border-radius: 5px;
	background-color: #db8876;
	width: 50%;
	flex-direction: column-reverse;
	justify-content: space-between;
	padding: 35px;
	position: relative;
	top: 30px;
	left: 25%;
}
.validateFormMessage .message {
	font-size: 30px;
	text-align: center;
}
.validateFormMessage h1 {
	font-size: 64px;
	font-weight: 400;
	margin: 0;
	color: black;
	text-align: left;
}
.validateFormMessage .closeForm {
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;
	cursor: pointer;
}

/*---------------------- bottom sticker for daily price and total likes --------------*/
.priceAndLikes {
	width: 400px;
	height: 89px;
	border-radius: 5px;
	background-color: #db8876;
	position: fixed;
	right: 1%;
	top: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px;
	font-size: 24px;
}
.priceAndLikes .totalLikes {
	display: flex;
	align-items: center;
	gap: 10px;
}

/*--------------- keyframes for lightbox --------------*/
@keyframes lightboxAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*------------------- Media queries -------------------*/
@media screen and (max-width: 768px) {
	.logo {
		height: 40px;
	}

	.photograph-header .headerCardDiv {
		padding: 20px;
		width: 550px;
		height: 200px;
	}
	.contact-userInfo h2 {
		font-size: 30px;
	}
	.contact-userInfo .location {
		font-size: 20px;
	}
	.contact-userInfo p {
		font-size: 15px;
	}
	.contact_button.header_button {
		margin: 0 30px;
		font-size: 15px;
		height: 60px;
	}
	.photograph-header img {
		min-height: 150px;
		min-width: 150px;
		max-height: 150px;
		max-width: 150px;
	}
	.photograph-porfolio {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 50px;
		padding-bottom: 100px;
		margin: 0;
	}
	.photos {
		display: block;
		padding-top: 0;
	}
	.photos .photoCard {
		margin-bottom: 50px;
	}
}
